@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Merriweather:wght@300;400;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add your custom styles here */
body {
    background-color: #000;
    color: #fff;
}

.product-count {
    height: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 18px;
    color: #FFFFFF;
}

.filter-popup {
    position: fixed;
    top: 0;
    right: 0;
    width: 20rem;
    height: 100%;
    background: white;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}

.filter-popup.open {
    transform: translateX(0);
}

.font-playfair-display {
  font-family: 'Playfair Display', serif;
}

.font-merriweather {
  font-family: 'Merriweather', serif;
}

.font-size-heading {
  font-size: 2.5rem;
}
