@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add your custom styles here */
body {
    background-color: #000;
    color: #fff;
}

.product-count {
    height: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 18px;
    color: #FFFFFF;
}
